<!DOCTYPE html>

<!--- informs the template engine that static files will be used --->
{% load staticfiles %}

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>
            Rango says...
        </h1>
        <div>
            hey there partner!<br />
            <strong>{{ boldmessage }}</strong><br />
            <!--- {{ boldmessage }} is a Django template variable ---> 
        </div>
        <div>
        <!--- Django template language ---> 
            {% if categories %}
                <!-- <ul> is an unordered list -->>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href = "/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <!--- Strong is bold ---> 
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>

        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
            <!--- alt is for the situation when the image doesn't show --->
        </div>
    </body>
</html>